<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCD4Fiy9REGlPOj-jbYTXFGkabP677KddA</string>
	<key>GCM_SENDER_ID</key>
	<string>699712138780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sinflix.app.sinflix</string>
	<key>PROJECT_ID</key>
	<string>sinflix-19d20</string>
	<key>STORAGE_BUCKET</key>
	<string>sinflix-19d20.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699712138780:ios:e2b3231a00e77f128db9d9</string>
</dict>
</plist>